img{
    width: 30%;
    margin-left: 2%;
}
body{
    background-color: rgb(247, 211, 186);
}
img{
    width: 30%;
    height: 15%;
}
td:hover{
    background-color: rgb(120, 174, 254);
}
table{
    background-color: rgb(255, 244, 237);
   margin-left: 20%;
   margin-right: 20%;
  justify-content: center;
  display: block;
}
td{
    width: 2%;
}

#TituloPrincipal{
   text-align: center;
}

h2{
    text-align: center;
}
h1{
    text-align: center;
}